@{
    ViewData["Title"] = "Order Confirmed";
}

<div class="container mt-5 text-center" style="max-height: 80vh;">
    <div class="d-flex flex-column align-items-center justify-content-center" style="height: 50vh;">
        <h1 class="display-1 fw-bold text-success mb-3">✓</h1>
        <h2 class="fw-bold mb-3">Order Received</h2>
        <p class="text-muted mb-5">Your order number is #9082342-CA. <br> We'll email you an order receipt shortly.</p>
        
        <a asp-controller="Home" asp-action="Index" class="btn btn-dark rounded-pill py-3 px-5">Continue Shopping</a>
    </div>
</div>
